.advantages-list {
  background-color: #f2f2f2;
}

@media @tablet-widths {

  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 768px;
    margin: 0 auto;

    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
  }
}

@media @desktop-widths {

  .advantages-list {
    width: 1200px;

    box-shadow: none;
  }
}
