.footer-main {
  padding-top: 30px;
  padding-bottom: 15px;
  }

.footer-main__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 151px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.footer-main__social-hashtag {
  margin-bottom: 35px;
  .font-PTS-bold(21px, 26px);
}

.footer-main__social-link {
  margin-right: auto;

  &:last-of-type {
    margin-right: 0;
  }
}

.footer-main__copy-right {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 145px;
  margin: 0 auto;
  padding-left: 6px;

  line-height: 26px;
  text-decoration: none;
  color: #000000;
}
