.header-content {
  position: relative;
  z-index: 1;

  padding-bottom: 28px;

  background-color: #ffffff;
}

.header-content__welcome {
  width: 229px;
  height: 39px;

  &--index {
    width: 282px;
    height: 214px;
  }
}

.header-content__welcome-wrapper {
  position: relative;

  height: 158px;
  margin-bottom: 40px;
  padding-top: 55px;
  box-sizing: border-box;

  text-align: center;

  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;

  @media (min-width: 320px) and (min-resolution: 1.44dpi),
         (min-width: 320px) and (min-resolution: 1.5dppx) {
           background-image: url("../img/bg-back-mobile@2x.jpg");
           background-size: 768px auto;
  };

  background-position: 50% 100%;
  background-color: #dc6243;

  &--big-photo {
    height: 389px;
    margin-bottom: 42px;
    padding-top: 90px;

    background-position: 50%;
  }

  &::after {
    position: absolute;

    bottom: 0;
    left: 0;

    height: 26px;
    width: 100%;

    background-image: url("../img/bg-intro-triangle-mobile.svg");

    background-size: 100% 27px;

    content: "";
  }
}

.header-content__title {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 25px;

  text-align: center;
}

.header-content__text {
  width: 270px;
  margin: 0 auto;

  line-height: 24px;
  text-align: center;

  &--high {
    line-height: 26px;
  }

  &--wide {
    width: 300px;
  }
}

@media @tablet-widths {
  .header-content {
    padding-bottom: 49px;
  }

  .header-content__welcome {
    width: 458px;
    height: 78px;

    &--index {
      width: 460px;
      height: 350px;
    }
  }

  .header-content__welcome-wrapper {
    height: 290px;
    margin-bottom: 75px;
    padding-top: 95px;

    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-width: 768px) and (min-resolution: 1.44dpi),
           (min-width: 768px) and (min-resolution: 1.5dppx) {
             background-image: url("../img/bg-back-tablet@2x.jpg");
             background-size: 768px auto;
    }

    &--big-photo {
      height: 518px;
      margin-bottom: 50px;
      padding-top: 77px;
    }

    &::after {
      height: 57px;

      background: url("../img/bg-intro-triangle-tablet.svg");
      background-size: 100% 57px;
    }
  }

  .header-content__title {
    width: 460px;
    margin-bottom: 28px;

    &--hight {
      margin-bottom: 30px;

      font-size: 30px;
      line-height: 26px;
    }
  }

  .header-content__text {
    width: 490px;

    &--tight {
      width: 440px;
    }
  }
}

@media @desktop-widths {
  .header-content__welcome-wrapper {
    height: 301px;
    margin-bottom: 111px;
    padding-top: 101px;

    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-width: 1200px) and (min-resolution: 1.44dpi),
           (min-width: 1200px) and (min-resolution: 1.5dppx) {
             background-image: url("../img/bg-back-desktop@2x.jpg");
             background-size: 1200px auto;
    }

    &--big-photo {
      height: 518px;
      margin-bottom: 50px;
      padding-top: 77px;
    }

    &::after {
      background: url("../img/bg-intro-triangle-desktop.svg");
      background-position: -1px 0;
      background-size: 1201px auto;
    }
  }
}
